/* Olga's styles 2019*/

body {
  background-color: #eee;
  
  background-image: url(../images/my-image.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

