@media screen and (max-width: 414px) {
	
wrapper {
		width: 414px;
	}
  
.grid-container {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
  padding: 0;
  margin-top: 20px;
  width: 414px;
  margin: auto;
}
  
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #700353;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}
	
footer {
	margin-top: 30px;
	}
	

.sm-links {
 margin-top: 20px;
}

section {
	display: flex;
	width: 100%;
	margin: auto;
	margin-top: 0;
}
	
	/* HOME PAGE */
	
.home-page {
  width: 414px;
	}
	
.home-who {
  width: 414px;
   height: auto;
	}
	
.home-role {
  width: 375px;
  height: auto;
  
}

.
.aboutme {
  width: 414px;
}
	
.myskills-heading {
		display: flex;
		flex-direction: column;
}
  
 
.contact-form {
  width: 100%;
  margin: auto;
  margin-top: 20px;
  }
  
.contact {
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
  } 
  
  
  /* NAVIGATION */
  
  }
nav {
	width: 414px;
    margin: auto;
}

nav ul {
  flex-direction: column;
  align-items: center;
}

nav ul li {
  padding: 10px;

  border-bottom: 2px solid #fae3d9;
  width: 100%;
  align-items: center;
	text-align: center;
}

nav ul a {
}
  
.grid-item {
  border: 1px solid #ffb6b9;
  }

  .heading-main {
    color: black;
  }
	
	
	/*MAKING SHEFFIELD FAIRER PAGE*/
	video {
		width: 414px;
	}
	
	.slideshow-container {
		width: 414px;
	}
	
	
	
	/* PHOTOGRAPHY PAGE */

	.photography-container {
	width: 414px;
}

.photography-images {
	width: 414px;
	height: auto;
	
	margin-bottom: 20px;
	margin-left: 0;
}
	
	.photo-project {
		width: 375px;
		height: auto;
	}


  .main-list {
  }
  
  .skills-list {
    text-align: center;
  }
  
  
  /*THE TRUMPET PAGE*/
  .trumpet-project {
	
    width: 375px;

	background-color: red;
	margin-bottom: 40px;
}

.trumpet-images {
   margin: auto;
   width: 414px;
}
  
  video {
	display: block;
	margin: auto;
    width: 375px;
	
	margin-bottom: 30px;
}
  
  
  
    
  /*ABOUT PAGE*/
  about-me-container{
  width: 414px;
  border: none;
} 
  
.my-image {
	width: 90%;
	float: none;
	margin: auto;
	margin-top: 20px;
    margin-bottom: 20px;	
}
  
.my-description {
 height: 400px;
 margin-top: 20px;
  
}
	
  
  .about-me-container {
    width: 414px;
    margin: auto;
  }
  
  .my-image {
    width: 300px;
	
	float: none;
    margin: auto;
    border-radius: 30%;
}
  
  .my-description {
    display: block;
	width: 100%;
	float: none;	
}
  
  
  .about-heading {
    width: 414px;
  }
  
  
  
  
  
  /*FOOTER*/
.sm-links {
  display: block;
  width: 30%;
 
}
  
  
  
  
  /* PROJECTS PAGES */
  
  .atm-container {
     width: 414px;
  }
  
  .illustrations-container {
    width: 414px;
  }
  
  .postcards {
    width: 414px;
  }
  
  .img-postcard {
    width: 414px;
    height: 400px;
  }
  
  
  .photo-project {
    width: 414px;
    margin: auto;
  }
}
