* {
box-sizing: border-box;
}

body {
	margin: auto;
	max-width: 1040px;
}


/**************FOOTER / SOCIAL MEDIA LINKS********************/
footer {
	height: 150px;
	margin-top: 50px;
}

header {
  padding: 30px;

}

.sm-links {
  display: block;
  width: 15%;
  margin: auto;
  justify-content: center;
  
}

.links-list {
	display: flex;
	width: 50%;
   height: 100px;
	margin: auto;
	margin-top: 10px;
}

.Follow-me {
	text-align: center;
}

.links {
   display: flex;
   flex-direction: row;
	width: 50%;
   height: 100px;
	margin: auto;
	margin-top: 10px;
}

/**************LOGO********************/
.logo {
  display: block;
	width: 70px;
  float: left;
	margin-left: 20px;
} 



#home-page {
	background-color: #fae3d9;
	background-image: url(BG-pattern/bg-pattern.svg);
	/*
	
	
	animation-name: backgroundcolor;
	animation-duration: 5s;
	animation-iteration-count: infinite;*/
}

/*
@keyframes backgroundcolor {
	0% {
		background-color: #fae3d9;
	}
	
	25% {
		background-color: #bbded6;
	}
	100% {
		background-color: #61c0bf;
	}
} */ 


/**************NAVIGATION********************/
nav {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

nav ul {
  padding: 0;
  margin: 0;
  width: 100%;
  
  display: flex;
  
  justify-content: space-around;
  list-style: none;
}

nav ul li {
  padding: 0;
  margin: 0;  
}

nav ul a {
  display: inline-block;
  color: #ffb6b9;
  text-decoration: none;
  font-size: 24px;
  
  border-bottom: 3px solid transparent;
}

nav ul a:hover {
  border-bottom: 3px solid #bbded6;
}

li a.active {
   color: #61c0bf;
}





/**************CONTACT FORM********************/
.contact-form {
	border-radius: 10px;
	background-color: #fae3d9;
	padding: 20px;
	width: 50%;
	margin-top: 50px;
	margin-left: 20px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #61c0bf;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #bbded6;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.contact-me-box {
  border: 5px solid #fae3d9;
  border-radius: 40px;	
  padding: 20px;
  margin-bottom: 20px;
  
  text-align: center;
  
  border: 5px solid #fae3d9;
  transition: border 350ms ease-out;
}
.contact-me-box:hover {
    border: 5px dotted #fae3d9;
    transition: border 350ms ease-out;
}

/**************ILLUSTRATION PAGE********************/


.img-postcard {
	display: block;
	margin: auto;
	width: 800px;
	height: 500px;
}

/**************CONTACT PAGE********************/
.contact {
	width: 40%;
	float: right;
	margin-right: 20px;
	margin-top: -555px;
}


.mail {
  text-decoration: none;
  color: black;
  padding: 10px;
  line-height: 30px;
  font-size: 18px;
}


/**************ABOUT PAGE********************/
.my-image {
    width: 30%;
	display: block;
	float: left;
    border-radius: 30%;
} 

.about-me-container{
  height: 400px;
}
.aboutme {
	margin-top: 20px;

}

.about-heading {
	background-color: #fae3d9;
    background-image: url(BG-pattern/bg-pattern2.svg);
    background-repeat: no-repeat;
     background-size: cover;
	text-align: center;
    padding: 20px;
    color: #808080;
    
}

.mywrapper {
	width: 100%;
}

.my-description {
	width: 60%;
	float: right;
	padding-left: 20px;
    border: 5px dotted #fae3d9;
    border-radius: 40px;	
}

.my-description:hover {
  border: 5px solid #fae3d9;
  transition: border 350ms ease-out;
}

.about-me-description {
}

.software-links {
  display: flex;
  margin-top: 0;
  height: 100px;
}

.software {
  margin: auto;
  width: 5%;
  

}

/*.software-descriprion {
  position: absolute;
  display: block;
  margin: auto;
  opacity: 100;
}

.software-descriprion:hover {
  opacity: 1;
} */

.myskills-heading {
  padding: 0;
  display: flex;
}

.myskills {
  list-style: none;
  padding: 20px;
  
  justify-content: center;
  align-items: center;
  text-align: center;
  
  margin: 20px;
  
  background-color: #61c0bf;
  border-radius: 50px;
  color: white;
  font-style: italic;
  border: 2px solid transparent;
  transition: background-color 350ms ease-out;
}

.myskills:hover{
  background-color: white;
  border: 2px solid #61c0bf;
  color: #61c0bf;
}

/**************HOME PAGE SLOGAN LIST********************/
.myskills-HP {
  list-style: none;
  padding: 20px;
  
  justify-content: center;
  align-items: center;
  text-align: center;
  
  margin: 20px;
  
  background-color: #61c0bf;
  border-radius: 50px;
  color: white;
  font-size: 20px;
  font-style: italic;
  border: 2px solid transparent;
  
  transition: background-color 350ms ease-out;
}

.myskills-HP:hover {
  background-color: transparent;
  color: #61c0bf;
  border: 2px solid #61c0bf;
}

.myskills-heading-HP {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


.myskills-about {
  list-style: none;
  padding: 20px;
  
  justify-content: center;
  align-items: center;
  text-align: center;
  
}


/**************HOME PAGE********************/
.home-page {
	/*background-color: #bbded6;*/
	height: auto;
}

.home-role {
	height: auto;
	/*background-color: #ffb6b9;*/
}

.main-list li {
	list-style: none;
	display: flex;
	align-content: center;
	justify-content: center;
	padding: 10px;
}

.home-who {
	height: auto;
	/*background-color: #fae3d9;*/
}




/**************GRID CONTAINER********************/
.grid-container {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: auto auto auto;
  padding: 0;
  margin-top: 20px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #bbded6;
  /*box-shadow: 2px 0px 0px 2px #000000; */
  padding: 10px;
  
  position: relative;
}

.grid-item-description{
  opacity: 0;
  transition: opacity 350ms ease-out;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #61c0bf;
  color: white;
  font-size: 28px;
  
  width: 300px;
  height: 300px;
  margin: auto
}


.grid-item:hover .grid-item-description{
   opacity: 1;
}

.grid-item-image {
  display: block;
  margin: auto;
}

/**************PHOTOGRAPHY PAGE********************/

.photography-container {
  margin: auto;
	width: 1040px;
}

.photography-images {
	width: 1040px;
	height: 600px;
}

.photography-images {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
}



/**************NEXT & PREVIUS BUTTONS********************/
.nex-project {
	text-align: right;
	width: 50%;
	float: right;
	padding-right: 10px;
	margin-bottom: 20px;
}

.previous-project {
	text-align: left;
	width: 50%;
	float: left;
	padding-left: 10px;
	margin-bottom: 20px;
}

.project-nav {
	text-decoration: none;
	color: #808080;
	font-size: 16px;
}





/**************THE TRUMPET********************/
.trumpet-container {
}

.trumpet-project {
	
    width: 700px;

	background-color: red;
	margin-bottom: 40px;
}

.trumpet-images {
	margin: auto;
   width: 700px;
}



/**************MAKING SHEFFIELD FAIRER********************/

video {
	display: block;
	margin: auto;
	
	margin-bottom: 30px;
}


/**************ATM MOBILE APP********************/
.atm-container {
   width: 375px;
  margin: auto;
  
}

.atm-app {
  width: 375px;
  height: 600px;
  margin-bottom: 30px;

}


