body {
  font-family: didot;
}

 h1, h2, h3, h4, h5, a {
	font-family: didot;
}


a {
	font-size: 30px;
}

h1{
	text-align: left;
   padding-left: 10px;
}

h2 {
  text-align: left;
  padding-left: 10px;
}

i {
  display: inline-block;
  width: 200px;
  color: #808080;
}
p {
  padding: 10px;
  line-height: 30px;
}

.heading-main {
	font-size: 100px;
	text-align: center;
	color:  #61c0bf;
	margin-top: 20px;
	padding-top: 70px;
	
	animation: hello;
	animation-duration: 1s;
	animation-delay: 0.5s;
	animation-iteration-count: 1;
}

@keyframes hello {
	from {
		font-size: 0;
		transform: rotate(300deg);
	}
	
	to {
		font-size: 100px;
		transform: rotate(0);
	}
}

.heading-main1 {
	font-size: 60px;
	text-align: center;
	color: #61c0bf;
	margin-top: 20px;
	padding-top: 70px;
}

.paragraph-main {
	text-align: center;
	font-size: 22px;
	width: 60%;
	margin: auto;
	color: #323232;
}

.skills-list {
	font-size: 22px;
	font-family: didot;
	color: #323232;
}

.contact-section h1,  {
	text-align: center;
}

/* MAKING SHEFFIELD FAIRER */

.bg-nameblue {
	background-color: #4bbcf4;
	color: white;
	padding: 20px;
}

.bg-namegreen {
	background-color: #61c0bf;
	padding: 20px;
	color: white;
	
}

.bg-namelight {
	background-color: #bbded6;
	padding: 20px;
	color: white;
}

.email {
	font-family: didot;
	color: black;
	font-size: 18px;
}

.Follow-me {
	font-size: 24px;
	color: #808080;
}


